# https://editorconfig.org/

root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[{*.go,go.mod,go.sum}]
# Match gofmt style
indent_style = tab

[Makefile]
# Make requires tabs.
indent_style = tab
