# tox
.tox

# pytest
.cache

# pytest-coverage
.coverage
htmlcov

# Build output
*.pyc
*.pyo
*.so
*.spec
*.egg-info/
*/data/logger.conf
MANIFEST
build
dist
go/ovirt-img/ovirt-img

# PyCharm, IntelliJ IDEA-specific files
*.idea
*.iml

# Editor backups
*.bak
*.*~
.*.*.sw?
