# tox
.tox

# pytest
.cache

# pytest-coverage
.coverage
htmlcov

# Build output
*.pyc
*.pyo
*.so
*.spec
*/data/logger.conf
proxy/ovirt_imageio_proxy/constants.py
proxy/setup/ovirt_engine_setup/ovirt_imageio_proxy/config.py
MANIFEST
build
dist

# PyCharm, IntelliJ IDEA-specific files
*.idea
*.iml

# Editor backups
*.bak
*.*~
.*.*.sw?
