# pytest-coverage
.coverage
htmlcov

# Build output
*.pyc
*.pyo
conf/logger.conf
ovirt-image-proxy.spec
ovirt-image-proxy-*.rpm
ovirt-image-proxy-*.tar.gz
ovirt_image_proxy/constants.py
tmp.repos
MANIFEST
build
dist


# PyCharm, IntelliJ IDEA-specific files
*.idea
*.iml

# Editor backups
*.bak
*.*~
.*.*.sw?
