# See github docs for more info on the syntax:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for all files:
*  @nirs @vjuranek

# Documentation owners
# /docs/  @myname
