# SPDX-FileCopyrightText: Red Hat, Inc.
# SPDX-License-Identifier: GPL-2.0-or-later

include README.md LICENSES/GPL-2.0-or-later.txt MANIFEST
include Makefile
include *.spec
include *.in
include *.ini

global-include *.py

graft build-aux
graft data
graft docs
graft examples
graft test

prune .tox
