include README COPYING MANIFEST TODO
include vdsm-imaged
include test/*.py
include test/copy-from-image
include test/copy-to-image
include test/pki/certs/*.pem
include test/pki/keys/*.pem
include *.ini
include *.py
