include README COPYING MANIFEST TODO
include vdsm-imaged
include test/*.py
include test/recvfile
include test/sendfile
include test/pki/certs/*.pem
include test/pki/keys/*.pem
include *.ini
include *.py
