include COPYING
include Makefile
include README
include build-aux/release-suffix
include ovirt-imageio-proxy
include ovirt-imageio-proxy.spec
include setup.cfg
include *.ini

recursive-include data *
recursive-include test/pki *
recursive-include test/resources *

global-include *.py
global-include *.in
