[Unit]
Description=oVirt ImageIO Proxy

[Service]
Type=notify
ExecStart=/usr/bin/ovirt-imageio-proxy
KillSignal=SIGTERM
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target

