[Unit]
Description=oVirt ImageIO Daemon

[Service]
Type=notify
ExecStart=/usr/bin/ovirt-imageio
KillSignal=SIGTERM
KillMode=mixed
Restart=always
User=ovirtimg
Group=ovirtimg
RuntimeDirectory=ovirt-imageio
RuntimeDirectoryMode=0750

[Install]
WantedBy=multi-user.target

