name: CI
on:
- push
- pull_request
env:
  EXPORT_DIR: exported-artifacts
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distro:
        - centos-8
        - centos-9
        - fedora-34
        - fedora-35
    steps:
    - uses: actions/checkout@v2
    - name: Configure docker
      run: sudo ./ci/configure-docker.py
    - name: Pull container
      run: docker pull quay.io/ovirt/imageio-test-${{matrix.distro}}
    - name: Run tests
      run: |
        docker run \
        --privileged \
        --rm \
        --volume `pwd`:/src:Z \
        quay.io/ovirt/imageio-test-${{matrix.distro}} \
        bash -c "cd /src && ci/test.sh"
  rpm:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distro:
        - centos-8
        - centos-9
        - fedora-34
        - fedora-35
    container: quay.io/ovirt/imageio-test-${{matrix.distro}}
    steps:
    - uses: actions/checkout@v2
      with:
        # We need the latest tag for creating rpms.
        fetch-depth: 0
    - name: Build rpms
      run: ./ci/rpm.sh
    - name: Upload artidacts
      uses: ovirt/upload-rpms-action@v2
      with:
        directory: ${{env.EXPORT_DIR}}
